@{
    ViewData["Title"] = "Contato";
}
<h1>@ViewData["Title"]</h1>

<p>
    Ramon Nunes
    📧 Email: nunesramon2007@email.com
    📞 Telefone: (51) 99588-7084
    📍 Endereço: Rua das Flores, 123, Vera Cruz - RS

    Perfil Profissional
    Sou um desenvolvedor de software com experiência em desenvolvimento de aplicações web e mobile, utilizando linguagens como Python, C# e JavaScript. Possuo habilidades em resolução de problemas, trabalho em equipe e organização. Busco constantemente aprimorar meus conhecimentos em tecnologias modernas e contribuir para projetos desafiadores e inovadores.

    Formação Acadêmica

    Curso Técnico em Informática – Escola Senac de Santa Cruz (2022 - 2024)
    Ensino Médio – Colégio Anchieta Estadual Vera Cruz (2020 - 2022)
</p>
